<div calss="container">
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-auto">
    <h1 class="text-center">お買い物ガイド</h1>
    <p class="text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
      
    <div class="mt-30">
    <h3>お支払いについて</h3>
    <p>以下のいずれかの方法からお支払いいただけます。<br>
    ・クレジットカード決済<br>
    （ VISA / Master / JCB / American Express / Diners ）<br>
    すべてのカード会社で、一括払いが可能となっております。<br>
    ※ただし、分割、リボ払いはご利用できません。<br>
    ※お支払い総額：商品代金（消費税込）＋送料<br>
    
    ・銀行振り込み</p>
    </div>
    
    <div class="mt-15">
    <h3>送料について</h3>
    <p>送料はお届け先1件ごとに一律800円となります。
    </p>
    </div>
    
    <div class="mt-15">
    <h3>配送について</h3>
    <p>宅配業者：ヤマト運輸（株）</p>
    </div>
    
    <div class="mt-15">
    <h3>返品・交換について</h3>
    <p>商品の品質には万全の注意を払っておりますが、<br>
    万一不良品やご注文内容と異なる商品が届けられた場合には<br>
    代品と交換させていただきます。<br>
    商品到着後、出来る限り早く内容をご確認ください。<br>
    商品の性質上、お客様のご都合によるご返品・お取り換えはご容赦ください。<br>
    天災やお届け先の都合により、商品を指定日時にお届けできなかった場合<br>
    恐れ入りますが、返金や再送はいたしかねます。予め、ご了承ください。</p>
    </div>
    
    <div class="mt-15">
    <h3>ショップについて</h3>
    <p>TMTR株式会社</p>
    <p>電話番号 111-111-1111</p>
    <p>住所 111-1111 長野県松本市</p>
    <p>アクセス </p>
    <p></p>
    
    </div>
        </div><!--flex-row -->

 </div>
</div>
</div>