<h1>商品一覧<span>(全8件)</span></h1>
<% @items.each do |item| %>
<%= attachment_image_tag item, :image, fallback: 'no_image.jpg', size: '80x80', format: 'jpg' %>
<%= item.name %>
<%= item.excluding_price %>
<% end %>
<%= paginate @items %>
