/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #BC8F8F;
}

.top-slide {
  height: 500px;
  width: 70%;
  margin: 0 auto;
}

.image1 {
  background-image: url(slide1.png);
}
.image2 {
  background-image: url(slide2.png);
}
.image3 {
  background-image: url(slide3.png);
}
.image4 {
  background-image: url(slide4.png);
}
.image5 {
  background-image: url(slide5.png);
}

.back_image {
  background-image: url(木目1.png);
  background-position: bottom;
  background-size: 100% auto;
  opacity: 0.8;
  background-repeat: repeat-y;
  min-height: 100vh;
}

.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  background-color: #BC8F8F;
  border-color: #4D4545;
  color: #4D4545;
  
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #330000;
}

.welcome {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
}

h2, h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}  

a.page-link {
  background-color: #778899;
  color: #fff;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #a52a2a;
    border-color: #a52a2a;
}
