/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #BC8F8F;
}

// .top_image {
//   height: 800px;
//   background-image: url("cake005.png");
//   background-position: bottom;
//   background-size: cover;
//   opacity: 0.9;
//   display: flex;
// }

// .top_text {
//   margin: 200px 160px;
// }

// .back_image {
//   height: 800px;
//   // background-image: url("木目1.png");
//   background-position: bottom;
//   background-size: cover;
//   opacity: 0.8;
// }

.top-slide {
  height: 500px;
  width: 70%;
  margin: 0 auto;
}

// .bg-mask {
//   height: 100%;
//   background: rgba(255,255,255,0.1);
// }
//   // background-image: url("背景1.png");
//   // background-position: bottom;
//   // background-size: cover;
//   // opacity: 0.8;
// }

.image1 {
  background-image: url(slide1.png);
}
.image2 {
  background-image: url(slide2.png);
}
.image3 {
  background-image: url(slide3.png);
}
.image4 {
  background-image: url(slide4.png);
}
.image5 {
  background-image: url(slide5.png);
}



.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  background-color: #BC8F8F;
  border-color: #4D4545;
  color: #4D4545;
  
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #330000;
}

.welcome {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
}

h2, h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #330000;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-weight: normal;
  font-style: normal;
}

