/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #BC8F8F;
}

.top_image {
  height: 800px;
  background-image: url("背景1.png");
  background-position: bottom;
  background-size: cover;
  opacity: 0.8;
  display: flex;
}

.top_text {
  margin: 120px 160px;
}

.back_image {
  height: 800px;
  background-image: url("木目1.png");
  background-position: bottom;
  background-size: cover;
  opacity: 0.8;
}

.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  background-color: #BC8F8F;
  border-color: #4D4545;
  color: #4D4545;
  
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
}

.welcome {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
}

h2,h3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-weight: normal;
  font-style: normal;
}