// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-container {
  background-image: url("cake03.png");
  background-size: cover;
  background-position: center;

}

.customer-bg-img {
  height: 100%;
  background: rgba(255,255,255,0.7);
}