// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-slide {
  height: 650px;
}

.image1 {
  background-image: img-url(slide01.png);
}
.image2 {
  background-image: img-url(slide02.png);
}
.image3 {
  background-image: img-url(slide03.png);
}
.image4 {
  background-image: img-url(slide04.png);
}
.image5 {
  background-image: img-url(slide05.png);
}
