// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-slide {
  height: 500px;
  width: 70%;
  margin: 0 auto;
}

.image1 {
  background-image: url(slide1.png);
}
.image2 {
  background-image: url(slide2.png);
}
.image3 {
  background-image: url(slide3.png);
}
.image4 {
  background-image: url(slide4.png);
}
.image5 {
  background-image: url(slide5.png);
}
