// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-slide {
  height: 650px;
}

.image1 {
  background-image: image-url("slide01.png");
}
.image2 {
  background-image: image-url("slide02.png");
}
.image3 {
  background-image: image-url("slide03.png");
}
.image4 {
  background-image: image-url("slide04.png");
}
.image5 {
  background-image: image-url("slide05.png");
}
